<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Message</title>
  </head>
  <body>
    <h3>Edit Your Message : <%= userId._id %></h3>
    <p>
      This chat send from <b><%= userId.from %> </b>to <b><%= userId.to %></b>
    </p>
    <form action="/chats/<%= userId._id %>?_method=PUT" method="post">
      <textarea name="msg"><%= userId.msg %></textarea> <br />
      <button>Edit Chat</button>
    </form>
  </body>
</html>
